body {
  background-color: #778beb;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  color: #f7d794;
  font-size: 40px;
  font-weight: 700;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

.shop {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #5e454b;
}

.shop:hover,
.shop:focus {
  text-decoration: underline;
}

.iconShop {
  width: 25px;
  height: 25px;
  fill: #ffb319;
  margin-right: 10px;
}
